<%= simple_form_for @stage, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nombre %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stages_path, :class => 'btn' %>
  </div>
<% end %>
