<p>Hola <%= @resource.email %>!</p>

<p>Ha solicitado cambio de contraseña. Para cambiar su contraseña entre en el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha solicitado este, por favor ignore este correo electrónico</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
